*{
  box-sizing:border-box;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/fonts/ODelI1aHBYDBqgeIAH2zlPytCVloACqnDHJwh-em2k8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(/fonts/toadOcfmlt9b38dHJxOBGM-Zjlo0ZOQEEX-anr9upwP3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,body{
  font-family:'Source Sans Pro';
  -webkit-font-smoothing:antialiased;
  padding:0;
  margin:0;
  color:#555a7e;
}

.main-header{
  font-family:'DIN Alternate';
  position:relative;
  padding:0;
}

.main-header nav a.title{
  color:white;
  background-color:#555a7e;
  padding:15px 30px;
  position:absolute;
  left:0;
  top:0;
  margin-bottom:0;
}

.main-header h1,
.main-header nav a{
  margin:0;
  font-size:1rem;
  display:inline-block;
}

.main-header nav a,
.main-header nav span{
  padding:15px 0 1px 0;
  margin-right:30px;
  margin-bottom:13px;
  display: inline-block;
}

.main-header nav a.active{
  border-bottom:1px solid #555a7e;
}

.main-header nav span{
  color:#aaa;
}

.main-header nav *{
  white-space:nowrap;
}

@media screen and ( max-width:900px ){
  .main-header nav a.title{
    position:static;
  }
}

@media screen and ( max-width:580px ){
  .main-header nav a.title{
    width:100%;
    margin-left:0;
  }
  .main-header nav a,
  .main-header nav span{
    margin-left:15px;
    margin-right:15px;
  }
  .main-header nav{
    text-align: center;
  }
}

a,
a:visited,
a:link{
  text-decoration: none;
  color:#555a7e;
}

.main-header nav,
article{
  margin:0 auto;
  width:540px;
}

@media screen and ( max-width:580px ){
  body{
    padding:0 20px;
  }
  .main-header nav,
  article{
    width:100%;
  }
}

article{
  padding-bottom:30px;
  border-top:1px solid #f0f0f0;
  font-size:0.9rem;
}

article:last-of-type{
  margin-bottom:30px;
  border-bottom:1px solid #f0f0f0;
}

article>*{
  margin-top:15px;
  padding:0;
}

article>a{
  display:block;
}

article>header{
  margin-bottom:20px;
}

article header a,
article header a:visited,
article header a:link{
  text-decoration: none;
}

article a,
article a:visited,
article a:link{
  text-decoration: underline;
}

article header a:hover{
  text-decoration: underline;
}

article>header h2{
  font-size:1.7rem;
  margin:0;
  padding:0;
}

article>header h3{
  font-size:1rem;
  margin:5px 0 0 0;
  padding:0;
  font-weight:400;
  color:#80818c;
}

article h4{
  margin-top:40px;
  margin-bottom:0;
  font-size:1.3rem;
  font-weight:400;
}

article p{
  margin:15px 0;
  text-align:justify;
}

article figure{
  width:560px;
  margin:0;
  margin-top:20px;
  padding:0;
  position:relative;
  margin-left:-10px;
}


@media screen and ( max-width:580px ){
  article figure{
    width:100%;
    margin-left:0;
  }
}

article figure img,
article figure iframe,
article figure object,
article figure canvas{
  width:100%;
  height:auto;
  border-radius:3px;
}

article figure img+figcaption,
article figure iframe+figcaption,
article figure object+figcaption,
article figure canvas+figcaption{
  font-style:italic;
  color:#80818c;
  background:transparent;
  border-radius:0;
  padding:0;
}

article figure pre{
  padding:7px 15px 10px 15px;
  border-radius:3px;
  margin:0;
  background-color:#f0f0f0;
  color:#2b2d40;
  white-space:pre-wrap;
  font-size:0.8rem;
}

article figure figcaption+pre{
  border-top-right-radius:0;
  border-top-left-radius:0;
}

article figure figcaption{
  font-size:0.9rem;
  height:27px;
  padding:5px 15px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  background-color:#e3e3e3;
  color:#7279ab;
}

article figure figcaption strong{
  color:#2b2d40;
}

article figure+*{
  margin-top:20px;
}

article figure+h4{
  margin-top:40px;
}

article footer{
  margin-top:30px;
  color:#80818c;
}

article footer dl{
  border-top:1px solid #f0f0f0;
  padding-top:30px;
  margin-top:30px;
  padding-bottom:0;
  margin-bottom:5px;
}

article footer dt,
article footer dd{
  margin:0;
  padding:0;
}

article footer dd{
  margin-top:15px;
  padding-left:15px;
}

article footer dd+dt{
  margin-top:30px;
}