<!DOCTYPE html>
<html>
  <head>
    <title>Sam Watkinson</title>
    <link rel="stylesheet" href="/css/screen.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="main-header">
      <nav>
        <a class="title" href="/"><h1>Sam Watkinson</h1></a>
        <a class="active" href="/">Posts</a>
        <span>Awkward nav with only one link</span>
        <!--a href="/contact-me">Contact Me</a-->
      </nav>
    </header>
    <section class="main-content">